<table width="100%" cellspacing="0" cellpadding="0" border="0" style="height: 500px;background-color:#ffffff;padding-top:20px;color:#333333;width:100%;font-family: arial;" class="m_-578686285709180796background_main">
    <tbody>
        <tr>
            <td valign="top" style="margin:0 auto;max-width: 600px;display:block;" class="m_-578686285709180796sm_full_width">
                <div style="margin:0 auto;padding:30px 0 40px;display:block;box-sizing:border-box" class="m_-578686285709180796sm_no_padding">
                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%;color:#333333">
                        <tbody>
                            <tr>
                                <td style="box-sizing:border-box">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 14px;line-height: 26px;font-family: arial;">
                                                    <img height="38" src="https://example-web-asset.s3-us-west-2.amazonaws.com/logo.jpg"  alt="example.com" style="margin:0 0 15px 0;">
                                                    <div style="border-top: solid 1px #DEE3E6;height: 1px;margin-bottom: 10px;clear: both;">
                                                        <h1 style="text-align: center;font-size: 28px;padding: 10px;">Successful Password Reset</h1>
                                                        <p style="">
                                                            A temporary password has been sent to your email address.
                                                        </p>
                                                        <p style="">
                                                            Please check your inbox and sign in to change your password as soon as possible.
                                                        </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
            </td>
        </tr>
    </tbody>
</table>
